
.help-field-detail-container{
    line-height: 2;
}
.help-field-section1{
    padding: 3rem 6rem 5rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    text-align: justify;
    background-color: white;
    
}
.help-field-question1{
    font-size: 3rem;
    font-family: "Abril Fatface", serif;
    color: rgb(43, 43, 43);
}
.help-field-answer1{
    font-size: 1.1rem;
    line-height: 1.6;
    color: rgb(85, 85, 85);
}

.help-field-section2{
    background-color: rgb(251, 249, 238);
    display: flex;
    padding: 5rem 8rem 5rem 8rem;
    gap: 6rem;
    align-items: center;
}
.help-field-question2-and-answer2{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    
}
.help-field-section2 img{
    width: 550px;
    height: auto;
    border-radius: 80px;
}
.help-field-question2, .help-field-question3{
    font-size: 2rem;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    color: rgb(43, 43, 43);
    text-align: center;
}

.help-field-answer2, .help-field-answer3{
    font-size: 1.1rem;
    color: rgb(85, 85, 85);
}
.help-field-section3{
    padding: 2rem 9rem 2rem 9rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    background-color: white;
}
@media (max-width: 1224px) {
    .help-field-section2 {
        flex-direction: column;
        padding: 5rem 3rem 5rem 3rem;
    }
    .help-field-section2 img{
        width: 450px;
    }
    .help-field-section1, .help-field-section3{
        padding: 5rem 3rem 5rem 3rem;
    }
}